.All__links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1000px;
    height: auto;
    margin: 50px auto;
}

.Links__link {
    color: black;
    font-size: 30px;
    font-weight: 900;
}

.Links__link:hover {
    color: green;
}